process {
  executor = 'pbs'
  queue = 'defaultQ'
  cpus = 1
  memory = '16 GB'
  time = '48h'
  clusterOptions = {
    '-P RDS-FVS-KoalaGen-RW'}
  }



params {
  genomes {
    'phaCin4' {
      bed12   = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/annotation/maker.max_build.5sep16.gffread.bed12'
      bismark = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/BismarkIndex'
      bowtie  = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/BowtieIndex/genome'
      bowtie2 = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/Bowtie2Index/genome'
      bwa     = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/BWAIndex/phaCin_unsw_v4.1.fa'
      fasta   = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/phaCin_unsw_v4.1.fa'
      gtf     = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/annotation/maker.max_build.5sep16.gffread.gtf'
      star    = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/STARIndex/'
      }
    'phaCin3' {
      bed12   = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/annotation/phaCin_unsw_v3.1.maker.standard.bed12'
      bismark = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/sequence/BismarkIndex'
      bowtie  = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/sequence/BowtieIndex/genome'
      bowtie2 = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/sequence/Bowtie2Index/genome'
      bwa     = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/sequence/BWAIndex/phaCin_unsw_v3.1.fa'
      fasta   = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/sequence/phaCin_unsw_v3.1.fa'
      gtf     = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/annotation/phaCin_unsw_v3.1.maker.standard.gtf'
      star    = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v3.1/sequence/STARIndex/'
      }
  'phaCin1' {
      bed12   = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/annotation/maker.max_build.5sep16.gffread.bed12'
      bismark = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/BismarkIndex'
      bowtie  = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/BowtieIndex/genome'
      bowtie2 = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/Bowtie2Index/genome'
      bwa     = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/BWAIndex/phaCin_unsw_v4.1.fa'
      fasta   = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/phaCin_unsw_v4.1.fa'
      gtf     = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/annotation/maker.max_build.5sep16.gffread.gtf'
      star    = '/project/RDS-FVS-KoalaGen-RW/genomes/phaCin_unsw_v4.1/sequence/STARIndex/'
    }
  }
}

